# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\毕设\工具\dataProcess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
